

body {
    margin: 0;
    height: 100vh;
    color: white;
    
    background: url("desktop/background_desktop.jpg") fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Barlow Condensed';
}

body > div {
    padding: 100px 30px;
}

div.big-box {
    padding: 20px;
    border-radius: 15px;

    background-color: #0000004a;
}

header h1 {
    color: #dfdfdf;
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 7vw;
    font-family: 'Bungee Shade';

}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 80px;

    color: black;
}

nav div {
    background-color: #ffffff94;
    font-size: 2.5vw;
    padding: 2vw;
    border-radius: 10px;
    text-align: center;
    align-self: center;
}

.marked {
    border: 2px solid white;
    box-shadow: 0px 0px 7px white;
    font-family: 'Barlow Semi Condensed';
    font-weight: 800;
}

nav div:nth-of-type(1):hover,
nav div:nth-of-type(3):hover,
nav div:nth-of-type(4):hover {
    background-color: rgba(0, 0, 0, 0.492);
    color: white;
}

.best {
    display: grid;
    grid-template-columns: 3fr 2fr;

    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.59);
    margin: 3vh 0;

    border: 1px solid white;
    border-radius: 15px;
}

.album_data {
    display: flex;
    flex-direction: column;

    grid-column: 1;
}

.album_data h1 {
    font-size: 4vw;
    margin-top: 7px;
    margin-bottom: 0px;
    font-family: 'Bungee Outline';
}

.album_data h2 {
    font-size: 2.5vw;
    margin-top: 0px;
    margin-bottom: 20px;
}

.musicians, .album_description {
    font-size: 1.5vw;
    line-height: 1.3;
}

.musicians p {
    margin-bottom: 0;
    margin-top: 30px;
}

.musicians ul  {
    list-style-type: none;
    margin-top: 0;
}

.album_description {
    margin: 30px 10px 0 0;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 15px; 
    border-top-left-radius: 15px;
}

.cover {
    grid-column: 2;
    position: relative;

}

.show_not_hover {
    position: absolute;
    left: 0;
    opacity: 1;
    transition: 1.5s;
}

.show_not_hover:hover {
    opacity: 0;
}

.song_list {
    grid-column: 2;
    line-height: 1.3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; 
}

.song_list h2 {
    font-size: 1.5vw;
    margin-bottom: 0;
    padding-left: 15px;
}

.song_list ul {
    list-style: decimal;
    font-size: 1.3vw;
    margin-top: 0;
    padding-left: 30px;
}

.song_list1 {
    color: #9a5435;
    background-color: #e1caa9;
    border-bottom-left-radius: 15px;
}

.song_list2 {
    color: #9a5435;
    background-color: #e1caa9;
    border-bottom-right-radius: 15px;
}

.anecdotes {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0;
    margin: 0;
    gap: 5px;
    font-size: 1.5vw;
}

.album_of_the_year {
    grid-column: 1;

    background-color: #9a5435;
    color: #e1caa9;
    display: grid;
    align-content: center;
    padding: 40px 10px;
    border-radius: 15px 0 15px 15px;
}

.empty {
    grid-column: 2;
}

.harrys_house_musically {
    grid-column: 3 / span 2;

    background-color: #9a5435;
    color: #e1caa9;
    padding: 40px 10px;
    display: grid;
    align-content: center;
    border-radius: 15px 15px 15px 0;
}

.harrys_house_producer {
    grid-column: 5;

    padding: 40px 10px;
    background-color: #9a5435;
    color: #e1caa9;
    display: grid;
    align-content: end;
    border-radius: 0 15px 15px 15px;

    background-image: url("desktop/producer.jpg");
    background-position: center;
    background-size: cover;
}

.streams {
    grid-column: 6;

    padding: 40px 10px;
    background-color: #9a5435;
    color: #e1caa9;
    display: grid;
    align-content: center;
    border-radius: 15px 15px 0 15px;
}

.anecdotes li {
    list-style: none;
}

.empty {
    display: none;
}

.song_list3 {
    color: #cf7f8a;
    background-color: #a7dbe7;
    border-bottom-left-radius: 15px;
}

.song_list4 {
    color: #cf7f8a;
    background-color: #a7dbe7;
    border-bottom-right-radius: 15px;
}

.best_pop_solo {
    grid-column: 1 / span 2;

    background-color: #cf7f8a;
    color: #a7dbe7;
    padding: 40px 10px;
    border-radius: 15px 15px 15px 0;
    display: grid;
    align-content: center;
}

.fine_line_musically {
    background-color: #cf7f8a;
    color: #a7dbe7;
    padding: 40px 10px;
    border-radius: 15px 15px 15px 0;
    display: grid;
    align-content: center;
}

.fine_line_producer {
    grid-column: span 2;

    color: black;
    padding: 40px 10px;
    border-radius: 0 15px 15px 15px;
    display: grid;
    align-content: end;
    background-image: url("desktop/fine_line_producer.jpg");
    background-position: center;
    background-size: cover;
}

.most_popular_song {
    background-color: #cf7f8a;
    color: #a7dbe7;
    padding: 40px 10px;
    border-radius: 15px 15px 15px 0;
    display: grid;
    align-content: center;
}

footer {
    padding-top: 50px;
}

@media (min-width: 1111px) {
    header h1 {
        font-size: 77px;
    }
    nav div {
        font-size: 27px;
    }
    .album_data h1 {
        font-size: 44px;
    }
    .album_data h2 {
        font-size: 27px;
    }
    .musicians p {
        font-size: 16px;
    }

}


@media (max-width: 800px) {
    body {
        background: url("tablet/background_tablet.jpg") fixed;
    }
    header h1 {
        text-align: center;
        font-size: 12vw;
    }
    .cover {
        grid-column: 1;
    }
    img {
        border-radius: 15px 0 0 15px;
    }
    .show_not_hover:hover {
        opacity: 1;
    }
    .album_data {
        grid-row: 2;
        grid-column: 1 / span 2;
    }
    .song_list {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    .song_list1, .song_list3{
        border-radius: 0 15px 0 0;
    }
    .anecdotes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .album_of_the_year {
        border-radius: 15px 0 15px 15px;
    }
    .harrys_house_musically {
        grid-column: 3 / span 2;
    }
    .harrys_house_producer {
        grid-column: 2;
        height: 80px;
    }
    .streams {
        grid-column: 3;
        border-radius: 15px 15px 0 15px;
    }
    .fine_line_musically {
        border-radius: 0 15px 15px 15px;
    }
    .fine_line_producer {
        grid-column: 2 / span 2;
        height: 80px;
    }
    .most_popular_song {
        border-radius: 15px 15px 0 15px;
    }
}

@media (max-width: 500px) {
    body {
        background: url("phone/background_phone.jpg") fixed;
    }
    body > div {
        padding: 0;
    }
    .best {
        grid-template-columns: 1fr;
    }
    img {
        border-radius: 15px 15px 0 0;
    }
    .song_list {
        grid-row: 2;
        grid-column: 1;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
    }
    .song_list1, .song_list3 {
        border-radius: 0 0 0 15px;
    }
    .song_list h2 {
        font-size: 20px;
    }
    .song_list ul {
        font-size: 14px;
    }
    .album_data {
        grid-row: 3;
        grid-column: 1;
    }
    .anecdotes {
        grid-column: 1;
        grid-template-columns: repeat(3, 1fr);
    }
    .harrys_house_musically {
        grid-column: 2 / span 2;
    }
    .fine_line_producer {
        grid-column: 1 / span 2;
    }

}